<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>1076edd2</string>
	<key>appkey</key>
	<string>544b1da54c3519bcfb84ec16fe78227d</string>
</dict>
</plist>
